.post-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: green;
}

.post-actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post-icon {
  width: 50px;
}

.post-comment {
  width: 75%;
}
